html {
    height: 100vh;
    font-family: Baloo;
}

body {
    padding: 10px;
    background-image: linear-gradient( #dda15e, #fefae0);
}

#emoji-container {
    margin: 40px;
    text-align: center;
    font-size: 60px;
}

#emoji-container span {
    margin: 10px;
    font-size: 60px;
    
}

#push-btn,#unshift-btn {
    background-color: #606c38;
}

#shift-btn,#pop-btn {
    background-color: #bc6c25;
}

#rutine-btn{
       background-color: #bc6c25;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

button {
    font-family: Baloo;
    letter-spacing: px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 4px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin:  10px;
}



#secret, #job, #friend {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background-color: #606c38;
}
 